* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 1.3em;
}

:root {
    --primary-textcolor: #ffffff;
    --secondary-textcolor: #000000;
    --foot: #090D36;
    --btn: #1C256E;
    --padding: 0 4em;
    --padding-mobile: 0 1em;
}

h1, h2, h3{
    font-family: 'zodiak' !important;
}

p{
    font-family:  'Inter' !important;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--primary-textcolor);
}

a:hover {
    cursor: pointer;
}

header {
    height: 900px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 50%), url('../Assets/BG.png');
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8) inset; 
}

.sidenav{
    display: none;
}

.opennav{
    display: none;
}



.navlinks-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    position: relative;
    z-index: 2; 
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navlinks-container ul {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

.navlinks-container ul li {
    display: inline;
    margin: 0 20px;
}

.navlinks-container ul li a {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
}


.navlinks-container button {
    padding: 16px 26px;
    background-color: var(--btn); 
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Inter';
}



.hero-section {
    margin-top: 188px;
    padding: var(--padding);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 12em; */
    /* border: 1px solid #f00; */
}

.pad-left{
    padding-left: 7em;
}

.hero-text{
    width: 700px;
}

.hero-text h1{
    font-family: 'zodiak';
    color: var(--primary-textcolor);
    font-size: 56px;
    font-weight: 740;
}

.hero-text p{
    font-family:  'Inter';
    color: var(--primary-textcolor);
    padding: 1.6em 0 1em;
    line-height: 1.6em;
    width: 633px;
}


.hero-btns button{
    font-family:  'Inter';
    padding: 16px 28px;
    font-size: 14px;
    font-weight: 700;

}

.mobile-btn{
    display: none;
}

.activited{
    background-color: var(--secondary-textcolor);
    color: var(--primary-textcolor);
    border: none;
    outline: none;
}

.second-btn{
    margin-left: 1.7em;
}

.hero-btns button:hover{
    cursor: pointer;
}

.dots {
    position: absolute;
    top: 40%;
    right: 1.6em;
}

.dots ul li{
    color: var(--primary-textcolor);
    font-size: 40px; 
}

.dots ul li:hover {
    color: var(--btn);
    cursor: pointer;
}

.socials{
    margin-top: 3em;
    padding: 0 0 0 3em;
    display: flex;
    flex-direction:column;
    width: 20px;
    /* height: 116.38px; */
    justify-content: space-between;
    align-items: center;
    gap: 1.6em;
}

.sect-1{
    padding: var(--padding);
    margin-top: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.sect-1 img{
    height: 600px;
    width: 600px;
    margin-right: 2em;
}

.empower{
    width: 570px;
    height: 303px;
}

.empower h2{
    font-size: 32px;
    font-weight: 740;
    line-height: 43.2px;
}

.empower p{
    padding: 1.6em 0 0;
    line-height: 28.8px;
    font-weight: 400;
    font-size: 18px;
}

.flex-items{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.flex h3{
    font-size: 20px;
    font-weight: 700px;
    line-height: 27px;
}

.flex p{
    padding: 1.4em 0;
    font-size: 16px;
    font-weight: 400;
}


.sect-2 {
    padding: var(--padding);
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 8em;
}

.sect2-writeup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sect-2 img {
    height: 600px;
    width: 600px;
}

.sect-2 h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;
}

.sect-2 p{
font-weight: 400px;
font-size: 18px;
line-height: 28.8px;
padding:1.3em 0 0 0 ;
}

.sect-3{
    padding: 0 6em 4em;
    margin-top: 10em;
    background-color: #F3F3F3;
}

.sect-3 h1{
padding: 4em 0 1.2em;
font-size: 40px;
font-weight: 700;
line-height: 43.2px;
}

.sect-3 p{
    font-weight: 500;
    line-height: 28.8px;
    padding: 0 0 3em 0;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
 
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 2 / 2 / 3 / 3; }
    .div7 { grid-area: 2 / 3 / 3 / 4; }
    .div8 { grid-area: 2 / 4 / 3 / 5; }

    .box{
        background-color: gray;
        height: 295px;
    }

    .box img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .parent2{
        display: none;
    }

    .line {
        width: 100%;
        border-top: 1px solid #BBBBBB; 
        opacity: 0.6; 
        background-color: transparent;
    }

    .FAQ{
        padding: 9em 9em;
    }

    .FAQ h1{
        padding: 0em 0 1.2em;
        font-size: 40px;
        font-weight: 900;
        line-height: 43.2px;
     }

    .FAQ p {
        font-weight: 500;
        line-height: 28.8px;
        padding: 0 0 3em 0;
    }

    /* Accordion */
    .accordion {
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
        padding: 18px 18px 50px 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
        transition: 0.4s;
        border-bottom: 1px solid #BBBBBB;
        font-family: 'zodiak';
      }
      
      .active, .accordion:hover {
        background-color: #ccc;
      }
      
      .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }

      .active:after {
        content: "\2212";
      }
      
      .panel {
        padding: 0em 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        box-sizing: border-box;
      }


      /* footer */

      footer{
        bottom: 0%;
      }

      .footer{
        background-color: var(--foot);
        padding: 6em;
        color: var(--primary-textcolor);
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px;
      }

      .footer-nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8em;
      }

      .footer-flexs{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 6em;
      }
    
      .address{
        /* border: 1px solid #f00;   */
        display: flex;
        justify-content: space-between;
        align-items: flex-end;  
        gap: 2em;
      }

      .address img{
        height: 100%;
      }

      .footer-p{
        width: 720px;
        line-height: 22.4px;
        font-size: 14px;
        font-weight: 400;
      }


      .foot-socials{
        display: flex;
        justify-content: space-between;
        gap: 2em;
      }

      .last-flex{
        display: flex;
        justify-content: space-between;
        margin-top: 6em;
      }

      .straight-line {
        width: 100%;
        border-top: 1px solid #ffffff; 
        opacity: 0.2; 
        background-color: transparent;
    }

    .mobile-footer-cont{
        display: none;
    }

    .animate-fadeIn {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .animate-fadeIn.appear {
        opacity: 1;
    }
    
      @media (max-width: 768px) {
        *{
            margin: 0;
        }
        header{
            height: 90vh;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 50%), url('../Assets/BG.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            width: 100%;
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8) inset; 
        }

        .navlinks-container{
            display: none;
        }


        .sidenav {
            display: block;
            height: 90%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #1C256E;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
          }

          .sidenav.scrolled {
            height: 100%;
          }

          .opennav{
            display: block;
            position: absolute;
            right: 0;
            color: #ffffff;
            padding: 1em 1em 0 0;
          }
          
          .sidenav a {
            padding: 8px 8px 8px 30px;
            text-decoration: none;
            font-size: 25px;
            color: #ffffff;
            display: block;
            transition: 0.3s;
            margin: 0 0.2em;
            border-radius: 6px;
          }
            
          .anchor-links:hover {
            color: #000000;
            background-color: #F5F6FC;
            margin: 0 0.2em 0 1.5em;
          }

          .sidenav #closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }

          #closebtn{
            background-color: none;
          }
          
          .mobile-logo{
            width: 53px;
            height: 35px;
            background-color: #C1C1C1;
            margin: 0 0 1em 1.8em;
          }
          

        .hero-section{
            flex-wrap: wrap;
            margin: 0;
            padding: 2em;
            width: 100%;
        }

        .hero-text{
            width: 100%;
        }

        .hero-text h1{
            font-family: 'zodiak';
            color: var(--primary-textcolor);
            font-size: 32px;
            font-weight: 700;
            line-height: 43.2px;
        }
        
        .hero-text p{
            font-family:  'Inter';
            font-size: 16px;
            font-weight: 400;
            color: var(--primary-textcolor);
            padding: 1.6em 0 1em;
            line-height: 25.6px;
            width: 100%;
        }
        

        .pad-left{
            padding: 4em 0 0;
            margin: 0;
        }

        .hero-btns button{
            display: none;
        }

        .mobile-btn{
            display: block;
        }

        .mobile-btn button{
            padding: 13px 26px;
            background-color: var(--btn); 
            border: none;
            color: white;
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;
            text-transform: uppercase;
            font-family: 'Inter';
        }

        .dots{
            display: none;
        }

        .socials{
            display: none;
        }

        .sect-1{
            display: flex;
            justify-content: space-between;
            gap: 4em;
            flex-wrap: wrap;
            padding: 1em;
            margin-top: 2em;
        }

        .empower h2{
            font-weight: 540;
            font-size: 20px;
            line-height: 26.8px;
        }

        .empower p{
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }

        .sect-1 img{
            width: 100%;
            height: auto;
        }

        .flex-items{
            flex-wrap: wrap;
            gap: 0;
            margin-top: 1.2em;
        }

        .flex p{
            padding-top: 0.5em;
        }

        .sect-2{
            display: flex;
            justify-content: space-between;
            gap: 2em;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            padding: 1em;
            margin-top: 1em;
        }

        .sect-2 img{
            width: 100%;
            height: auto;

        }

       

        .sect-2 h2{
            font-size: 20px;
            font-weight: 540;
            line-height: 25.8px;
        }
        
        .sect-2 p{
        font-weight: 400px;
        font-size: 14px;
        line-height: 22.4px;
        padding-bottom: 1.2em;
        width: 100%;
        }


        .mobile-footer-cont{
            display: block;
        }
    
          .footer{
            background-color: var(--foot);
            padding: 2em;
            color: var(--primary-textcolor);
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 700;
            line-height: 16.94px;
            width: 100%;
          }
    
          .footer-nav{
            display: none;
          }
    
          .footer-flexs{
            display: none;
          }
        
    
          .footer-p{
            width: 300px;
            line-height: 3em;
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 1em;
          }
    
    
          .foot-socials{
            display: flex;
            justify-content: space-between;
            gap: 2em;
          }
    
          .last-flex{
            display: flex;
            justify-content: space-between;
            margin-top: 1.2em;
          }
    
          .straight-line {
            width: 100%;
            border-top: 1px solid #ffffff; 
            opacity: 0.2; 
            background-color: transparent;
        }
        
        .m-footer-flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;
        }

        .m-footer-flex h3{
            padding-bottom: 1.2em;
        }

        .logo-box{
            height: 37px;
            width: 49px;
            background-color: #d9d9d9;
        }

        .accordion{
            font-weight: 540;
            font-size: 20px;
            line-height: 26.8px;
        }

        .FAQ{
            width: 100%;
            padding: 0 1em;
        }
    
        .FAQ h1{
            padding: 0 0 1.2em;
            font-size: 20px;
            font-weight: 540;
            line-height: 26.8px;
         }
    
        .FAQ p {
            font-size: 14px;
            font-weight: 400;
            line-height: 22.4px;
            padding: 0;
        }
    

        .sect-3{
            padding: 0 1em 2em;
            margin: 0;
            background-color: #ffffff;
        }
        
        .sect-3 h1{
        padding: 2em 0 1.2em;
        font-size: 20px;
        font-weight: 540;
        line-height: 26.8px;
        }
        
        .sect-3 p{
            font-weight: 400;
            font-size: 14px;
            line-height: 22.4px;
            padding: 0 0 3em 0;
        }
        
        
        .parent {
          display: none;
            }
            
            .parent2 {
                display: block;
                overflow: hidden;
            }
            
            .slider {
                display: flex;
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch; 
                scroll-snap-type: x mandatory; 
            }
            
            .slide {
                flex: 0 0 auto;
                width: 65%;
                margin-right: 2em;
                scroll-snap-align: start; 
            }
            
            .slide img {
                width: 100%;
                height: auto;
            }

            .slide p {
                text-align: center; 
                margin-top: 5px;
                font-size: 14px; 
                color: #333;
            }
            
            
      }
