* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 1.3em;
}

:root {
    --primary-textcolor: #ffffff;
    --secondary-textcolor: #000000;
    --foot: #090D36;
    --btn: #1C256E;
    --padding: 0 4em;
    --padding-mobile: 0 1em;
}

h1, h2, h3{
    font-family: 'zodiak' !important;
}

p{
    font-family:  'Inter' !important;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--primary-textcolor);
}

a:hover {
    cursor: pointer;
}

.navlinks-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 32px 100px;
    position: relative;
    z-index: 2; 
    background-color: #F7FCFF;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navlinks-container ul {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

.navlinks-container ul li {
    display: inline;
    margin: 0 20px;
}

.navlinks-container ul li a {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-textcolor);
}


.navlinks-container button {
    padding: 16px 26px;
    background-color: var(--btn); 
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Inter';
}

.sidenav{
    display: none;
}

.opennav{
  display: none;
}

.partners-head{
    background-color: #F7FCFF;
    padding: 104px 100px;
}

.partners-head h1{
    font-weight: 740;
    font-size: 32px;
    line-height: 43.2px;
    padding-bottom: 0.3em;
}

.partners-head p{
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
}


.new-section {
    display: flex;
}

.sidebar {
    width: 340px;
    border-right: 1px solid #ccc;
    /* padding: 20px; */
    margin-left: 2em;
}

.boxes-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 0;
}

.box {
    width: calc(33.33% - 40px);
    height: 295px;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.gray-box{
    height: 50%;
    width: 100%;
    background-color: #d9d9d9;
}



/* footer */

footer{
    bottom: 0%;
  }

  .footer{
    background-color: var(--foot);
    padding: 6em;
    color: var(--primary-textcolor);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    height: 100%;
  }

  .footer-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8em;
  }

  .footer-flexs{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 6em;
  }

  .address{
    /* border: 1px solid #f00;   */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
    gap: 2em;
  }

  .address img{
    height: 100%;
  }

  .footer-p{
    width: 720px;
    line-height: 22.4px;
    font-size: 14px;
    font-weight: 400;
  }


  .foot-socials{
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }

  .last-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
  }

  .straight-line {
    width: 100%;
    border-top: 1px solid #ffffff; 
    opacity: 0.2; 
    background-color: transparent;
}

.mobile-footer-cont{
    display: none;
}

.logo-container{
  display: none;
}

@media (max-width: 768px){
    .navlinks-container{
      display: none;
  }
  
  
  .sidenav {
      display: block;
      height: 90%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #1C256E;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
  
    .sidenav.scrolled {
      height: 100%;
    }
  
    .logo-container {
      display: block;
      position: relative;
      top: 30px;
      left: 1em;
    }

    .opennav{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      color: #000000;
      padding: 1em 1em 0 0;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 30px;
      text-decoration: none;
      font-size: 25px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
      margin: 0 0.2em;
      border-radius: 6px;
    }
      
    .anchor-links:hover {
      color: #000000;
      background-color: #F5F6FC;
      margin: 0 0.2em 0 1.5em;
    }
  
    .sidenav #closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  
    #closebtn{
      background-color: none;
    }
    
    .mobile-logo{
      width: 53px;
      height: 35px;
      background-color: #C1C1C1;
      margin: 0 0 1em 1.8em;
    }
  
    .mobile-footer-cont{
      display: block;
  }
  
    .footer{
      background-color: var(--foot);
      padding: 2em;
      color: var(--primary-textcolor);
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 700;
      line-height: 16.94px;
      width: 100%;
    }
  
    .footer-nav{
      display: none;
    }
  
    .footer-flexs{
      display: none;
    }
  
  
    .footer-p{
      width: 300px;
      line-height: 3em;
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 1em;
    }
  
  
    .foot-socials{
      display: flex;
      justify-content: space-between;
      gap: 2em;
    }
  
    .last-flex{
      display: flex;
      justify-content: space-between;
      margin-top: 1.2em;
    }
  
    .straight-line {
      width: 100%;
      border-top: 1px solid #ffffff; 
      opacity: 0.2; 
      background-color: transparent;
  }
  
  .m-footer-flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
  }
  
  .m-footer-flex h3{
      padding-bottom: 1.2em;
  }
  
  .logo-box{
      height: 37px;
      width: 49px;
      background-color: #d9d9d9;
  }

  

  .partners-head {
    background-color: #F7FCFF;
    padding: 1em; 
}

.partners-head h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
    padding-bottom: 0.3em;
}
.partners-head p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
}

.new-section {
  display: flex;
  flex-wrap: wrap; 
}

.sidebar {
  display: none; 
}
.boxes-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 0;
}

.box {
  width: calc(50% - 20px); 
  max-width: 340px; 
  height: 250px;
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.gray-box {
  height: 50%;
  width: 100%;
  background-color: #d9d9d9;
}
}
  
@media (max-width: 992px) {
  .partners-head {
      padding: 104px 2em;
  }
  }